<h1><%= @title = "Buildings" %></h1>

<table>
<thead>  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th>Rooms</th>
    <th>Actions</th>
  </tr>
</thead>

<tbody>
	<%= render :partial => 'buildings/row', :collection => @buildings %>
</tbody>
</table>
